body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header {
    height: 120px;
    width: 100%;
    background-color: white;
    border-top: 3px solid #61dafb;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    margin-right: 10px;
    animation: girar infinite 20s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#brand {
    display: block;
    margin: 0px;
    float: left;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix {
    clear: both;
    float: none;
}

#menu {
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 10px;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover {
    color: #61dafb;
}

#slider {
    width: 100%;
    height: 350px;
    color: white;
    text-shadow: 0px 0px 5px #444;
    background: #61dafb;
    /*Para generar los degradados 
      https://cssgradient.io/
      Se pueden utilizar otras paginas tambien*/
    background: rgb(16, 184, 198);
    background: radial-gradient(circle, rgb(10, 117, 240) 0%, rgba(0, 138, 255, 1) 70%, rgb(125, 176, 235) 100%, rgba(0, 212, 255, 1) 100%);
}

#slider h1 {
    padding-top: 138px;
    text-align: center;
}

.btn-white{
    text-decoration: none;
    display: block;
    background: white;
    color: grey;
    padding: 10px; 
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin: 0px auto;
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    box-shadow: 0px 0px 5px #ccc;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color: white;
}

#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1{
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}

#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

#sidebar{
    width: 25%;
    float: left; 
}

.sidebar-item{
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 17px;
    margin: 0px;
    border-bottom: 3px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar-item .btn{
    margin-top: 10px;
    margin: 0px auto;
}

.btn{
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    max-width: 120px;
    transition: 120ms all;
    border: none;
    cursor: pointer;
}

.btn-success{
    background: green;

}

.btn-succes:hover{
    background: black;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    padding: 3px;
    margin-bottom: 5px;
    transition: 300ms all;
}

input[type="text"]:focus{
    box-shadow: 0px 0px 5px #eee inset;
}

#footer{
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 65px;
    color: #444;
}

#footer p{
    margin: 0px;
    padding: 0px;
}