#slider{
    height: 180px;
}

#slider h1{
    font-size: 19px;
    padding-top: 20px;
}
#slider .btn-white{
    margin-top: 20px;
}

#slider .slider-small{
    height: 100px;
}

#slider .slider-small h1{
    padding-top: 35px;
}

