<header>
    <div class="center">
        <!--LOGO-->
        <div id="logo">
            <img src="assets/images/logo.svg" class="app-logo" alt="logotipo">
            <span id="brand">
                <strong>Curso</strong>Angular
            </span>
        </div>
        <!--MENU-->
        <nav id="menu">
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="#">Formulario</a>
                </li>
                <li>
                    <a href="#">Página 1</a>
                </li>
                <li>
                    <a href="#">Página 2</a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</header>